{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
  function render() {
    var hash = window.location.hash;

    $('.menu-item').removeClass('current-menu-item');

    if (hash == '#openstack') {
      project_type = 'openstack';
      $('#menu-openstack').addClass('current-menu-item')
    } else {
      project_type = 'opnfv-group'
      $('#menu-opnfv').addClass('current-menu-item')
    }

    var commits = { project_type: project_type, release: 'newton', metric: 'commits' };
    var zte_commits = { company: 'zte corporation', project_type: project_type, release: 'newton', metric: 'commits'};

    $('#timeline').empty();
    renderTimeline(zte_commits);

    renderTableAndChart(makeURI('/api/1.0/stats/companies', commits), "company_container", "company_table", "company_chart", "company");
    renderTableAndChart(makeURI('/api/1.0/stats/engineers', zte_commits), "engineer_container", "engineer_table", "engineer_chart", "user_id");
  }
  window.onhashchange = window.onload = render;
</script>
{% endblock %}

{% block body %}

<div class="page">
  <div class="aheader">
    <div style="float: right; margin-top: 10px; margin-right: 20px;">
        <a href="https://wiki.openstack.org/wiki/Stackalytics" target="_blank" title="{{ update_time_title }}">About</a>
    </div>
    <div id="analytics_header">
        <div style="float: left;">
            <span id="logo"><a href="{{ url_for('zte_overview') }}"><img src="{{ url_for('static', filename='images/stackalytics_logo.png') }}" alt="Stackalytics" style="width: 100%; max-width: 190px;"></a></span>
        </div>
        <div class="stackamenu" style="margin-left: 240px">
            <ul id="menu-stackamenu">
                <li id="menu-opnfv" class="menu-item"><a href="#opnfv"><span class="icon-pie"></span>OPNFV Colorado Commits</a></li>
                <li id="menu-openstack" class="menu-item"><a href="#openstack"><span class="icon-pie"></span>OpenStack Newton Commits</a></li>
            </ul>
        </div>
    </div>
  </div>
  <div class="navigation">
      <div id="timeline" style="width: 100%; height: 120px; margin-top: 15px;"></div>
  </div>

  <table style="width: 100%" cellspacing="0">
    <tr>
      <td style="width: 50%; vertical-align: top;">
        <div class="body" style="margin-right: 1em;">
          <div id="company_container">
            <h2>Contribution by companies</h2>

            <div id="company_chart" style="width: 100%; height: 350px; margin-bottom: 1em;"></div>

            <table id="company_table" class="display">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Company</th>
                  <th>{{ metric_label }}</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </td>
      <td style="width: 50%; vertical-align: top;">
        <div class="body" style="margin-left: 1em;">
          <div id="engineer_container">
            <h2>Contribution by contributors</h2>

            <div id="engineer_chart" style="width: 100%; height: 350px; margin-bottom: 1em;"></div>

            <table id="engineer_table" class="display">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Contributor</th>
                  <th>{{ metric_label }}</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div id="footer" style="height:140px"></div>
</div>
{% endblock %}
